<h1 class="pb-4">Results</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if( typeof recipe !== 'undefined'&& recipe.length > 0 ) { %>
        <% recipe.forEach(function(recipe, index) { %>
        <a href="/recipe/<%= recipe._id%>" class="col text-center category_link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= recipe.image %>" width="300" height="200" alt="<%= recipe.name%>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
    <% }) %>
    <% } else { %>
        <p>No items found</p>
        <% } %>
    </div>
